body {
  font-family: Arial, sans-serif;
}

.header {
	background-color: #f2f2f2;
	padding: 10px;
	text-align: center;
}

.header:hover {
	background-color: #ddd;
}

textarea {
	width: 100%;
	height: 100px;
	margin-top: 10px;
	background-color: #fff;
	transition: background-color 0.3s;
}

.char-counter {
	width: 100%;
	height: 100px;
	margin-top: 10px;
	background-color: #fff;
	transition: background-color 0.3s;
}

textarea:focus {
	background-color: #dfffdf;
}

button {
	padding: 10px;
	margin-top: 10px;
}

button:hover {
	color: #fff;
	background-color: #007bff;
	cursor: pointer;
	transform: scale(1.15);
}

.invalid {
	border: 2px solid red;
}