form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
}

input[type=text], select, textarea {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type=submit] {
  padding: 10px 15px;
  background-color: #008cba;
  color: white;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #005f73;
}